<style>

  /* light mode colors */
  body {
    --primary-color: #359990;
    --primary-pale-color: #5871a210;
    --text-color: #3C4043;
    --text-pale-color: #94969f;
    --bg-color: #ffffff; 
    --highlight-mark-color: #5f75b035;
  
    --callout-note-color: #5871a2;
    --callout-important-color: #8062b0;
    --callout-warning-color: #936e51;
    --callout-alert-color: #bc5252;
    --callout-question-color: #477389;
    --callout-tip-color: #3c8460;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #359990;
    --primary-pale-color: #205EA620;
    --text-color: #CECDC3;
    --text-pale-color: #878580;
    --bg-color: #100F0F;
    --highlight-mark-color: #205EA635;

    --callout-note-color: #359990;
    --callout-important-color: #8E467F;
    --callout-warning-color: #BC5215;
    --callout-alert-color: #AF3029;
    --callout-question-color: #24837B;
    --callout-tip-color: #66800B;
  }

  /* typography */
  body {
    --main-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --icon-size: 20px;
    --homepage-font-size: 16px;
    --homepage-line-height: 1.75;
    --paragraph-font-size: 16px;
    --paragraph-line-height: 1.75;
    --aside-font-size: 15px;
    --img-border-radius: 0px;
    --callout-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-pale-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
